@*@model NSTP_DAL.Models.NSTPTopBreakingNews*@
@model NSTP_DAL.Models.NSTPTopBreakingNews
<div class="row">
    <div class="col-sm-3">
        <div>
            @*<p> @Html.DisplayFor(model => model.Description)</p>*@
        </div>
    </div>
    <div class="col-sm-4">
        mmmmmm
    </div>
    <div class="col-sm-3">
        mmmmmm
    </div>
    <div class="col-sm-2">
        mmmmmm
    </div>
</div>